body{
    background: #007FC7;
}

#container{
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}

p{
    width: 300px;
}

.relative{
    border: 1px solid red;
    position: relative;
    /*top, right, bottom, left*/
    top: 20px;
    left: 80px;
}