body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
}

ul li{
    float: left;
    background: url(imgs/aba-direita.png) no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(imgs/aba-esquerda.png) no-repeat top left;
    color: #FFF;
}

ul a:hover{
    color: #894a1f;
}

ul #atual{
    background: url(imgs/aba-direita-atual.png) no-repeat top right;
}

ul #atual a{
    background: url(imgs/aba-esquerda-atual.png) no-repeat top left;
}