/*
p{
    color: red !important;
}

p{
    color: blue;
}
*/

/*Se um slsetor for mais específico que outro, a regra mais específica será apilcada (terá precedência sobre regras mais gerais)


* {
    color: red;
}

h2{
    color: blue;
}

h2 .verde{
    color: green;
}

*/
