body{
    background: #007FC7;
}

#container{
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

p{
    width: 300px;
}

.absolute{
    position: absolute;
    top: 80px;
    right: 80px;
    border: 1px solid red;
    background: #F2F2F2;
}

.fixed{
    border: 1px solid red;
    background: #F2F2F2;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0px;
}